{% extends 'user/base.html' %}

{% block title %}register{% endblock title %}

{% block content %}

<div class="container">

  {% if msg %}
  <div class="alert alert-danger" role="alert">
    {{msg}} 
 </div>
  {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" name="username"value="{{username}}">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email"value="{{email}}">
    </div>

    <div class="row">
        <div class="col">
           <label for="firstname" class="form-label">Firstname</label>
            <input type="text" class="form-control" name="firstname"value="{{firstname}}"> 
        </div>
        <div class="col">
            <label for="lastname" class="form-label">Lastname</label>
            <input type="text" class="form-control" name="lastname"value="{{lastname}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="col">
            <label for="repassword" class="form-label">RePassword</label>
            <input type="password" class="form-control" name="repassword">
        </div>
    </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>


  

{% endblock content %}